<!DOCTYPE html>
<html>
<head>
    <script data-require="angular.js@*" data-semver="1.2.0-rc3-nonmin" src="http://code.angularjs.org/1.2.0-rc.3/angular.js"></script>
    <script data-require="ng-table@*" data-semver="0.3.0" src="http://bazalt-cms.com/assets/ng-table/0.3.0/ng-table.js"></script>
    
    <link data-require="bootstrap-css@*" data-semver="3.0.0" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link data-require="ng-table@*" data-semver="0.3.0" rel="stylesheet" href="http://bazalt-cms.com/assets/ng-table/0.3.0/ng-table.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/script.js"></script>
</head>

<body ng-app="main" ng-controller="TableCtrl">
    <div class="loading-layer" data-loading></div>
    <header>
        <button ng-click="refresh()" class="refresh" title="Refresh data" data-loading><img src="css/icon_refresh.svg"/></button>
        <h1>USGS Earthquake Data</h1>
    </header>
    

    <table ng-table="tableParams" show-filter="true">
        <tr ng-repeat="obj in $data">
            <td data-title="'Title'" sortable="title" filter="{ 'title': 'text'}">
                {{obj.title}}
            </td>
            <td data-title="'Magnitude'" sortable="mag">
                {{obj.mag}}
            </td>
            <td data-title="'Time'" sortable="time">
                {{obj.time | date:'medium'}}
            </td>
            <td data-title="'Latitude'" sortable="lat">
                {{obj.lat}}
            </td>
            <td data-title="'Longitude'" sortable="lng">
                {{obj.lng}}
            </td>
            <td data-title="'sig'" sortable="sig">
                {{obj.sig}}
            </td>
            <td data-title="'net'" sortable="net">
                {{obj.net}}
            </td>
            <td data-title="'code'" sortable="code"  filter="{ 'code': 'text'}">
                {{obj.code}}
            </td>
            <td data-title="'nst'" sortable="nst">
                {{obj.nst}}
            </td>
            <td data-title="'dmin'" sortable="dmin">
                {{obj.dmin}}
            </td>
            <td data-title="'rms'" sortable="rms">
                {{obj.rms}}
            </td>
            <td data-title="'gap'" sortable="gap">
                {{obj.gap}}
            </td>
            <td data-title="'More'">
               &gt; <a href="{{obj.url}}" title="Info" target="_blank">Info</a>
               &gt; <a href="{{obj.detail}}" title="Data" target="_blank">Data</a>
            </td>
            
        </tr>
    </table>
</body>
</html>