.blue {
  background-color:#2196F3;
  color:white;
}
.dark {
  background-color:#212121;
  color:white;
}
.blue-grey {
  background-color: #607D8B;
  color:white;
}
.amber {
  background-color:#FFC107;
  color:white;
}
.amber-light {
  background-color: #FFCC80;
}