
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: Helvetica, Arial, sans-serif;
}
html, body{
    height:100%;
}
body {
    width: 90%;
    margin:0 auto;
}
h1 {
    text-align:center;
    margin:10px;
}
.column {
    float:left;
    width:45%;
    height:500px;
    margin:20px 0 20px 5%;
    background:#f1f1f1;
    border:1px solid #aaaaaa;
    padding:15px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */


}
.column:first-of-type {
    margin-left:2.5%;
}

.column h2 {
    margin:0px 0 10px;
    padding:0;
    color:#aaaaaa;
}
.codearea {
    display:block;
    box-sizing:border-box;
    width:100%;
    height:350px;
    background:#FFF;
    color:#666;
    border:1px solid #ddd;
    padding:10px;
    font-size:1em;
    margin:0 auto;
}
button {
    display:block;
    box-sizing:border-box;

    border:none;
    background:#2a78aa;
    padding:7px 10px;
    width:100%;
    margin:10px auto;
    cursor: pointer;
    color:#FFF;
    font-size:1.2em;
}
button:hover {
    background: #2f87c2;
}